.fade-cross-enter-active {
  transition: opacity 0.5s ease;
}

.fade-cross-enter-from,
.fade-cross-leave-to {
  opacity: 0;
  visibility: hidden;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  visibility: hidden;
}
